/* App.css */
.welcome-section {
    text-align: center;
    margin-top: 50px;
  }
  
  .welcome-section h2 {
    font-size: 2.5rem;
    color: #333;
  }
  
  .welcome-section p {
    font-size: 1.2rem;
    color: #555;
  }
  